﻿<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicons/favicon.ico" />

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Libs/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Libs/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/home.css" />
    <link rel="stylesheet" href="~/Content/Libs/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/Content/Libs/bootstrap-toggle.min.css" />

    <script src="~/Scripts/Libs/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Libs/bootstrap.min.js"></script>
    <script src="~/Scripts/Libs/knockout-3.4.0.js"></script>
    <script src="~/Scripts/Libs/moment-with-locales.min.js"></script>
    <script src="~/Scripts/Libs/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/Libs/bootstrap-toggle.min.js"></script>
    <script src="~/Scripts/Libs/expanding.js"></script>
    <script src="~/Scripts/Libs/extensions/knockoutExtension.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-1 visible-xs">&nbsp;</div>
                <div class="navbar-brand col-xs-5 col-sm-7 logo">
                    <a href="/home" class="navbar-link"><img src="~/Content/Images/logo.png" alt="SurveyOn" style="height: 100%"/></a>
                </div>
                <div class="col-xs-3 col-sm-5">
                    <div class="navbar-right">
                        <div class="navbar-nav">
                            <a href="/login" class="navbar-link navbar-brand" id="login"><i class="fa fa-sign-in fa-lg" data-toggle="tooltip" data-placement="bottom" title="Log in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 visible-xs">&nbsp;</div>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/enums.js"></script>
    <script src="~/Scripts/ajaxHelper.js"></script>
    <script src="~/Scripts/utilityApplier.js"></script>
    @RenderSection("Scripts", false)
<script>
    $(document).ready(function() {
         surveyOn.utilityApplier.apply.tooltips();
    });
</script>
</body>
</html>
