﻿<!DOCTYPE html>

<html>
<head>    
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicons/favicon.ico" />

    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/section.css"/>
    <link rel="stylesheet" href="~/Content/Libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/Libs/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/Content/home.css"/>
    <link rel="stylesheet" href="~/Content/question.css"/>
    <link rel="stylesheet" href="~/Content/popover.css"/>
    <link rel="stylesheet" href="~/Content/Libs/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="~/Content/Libs/bootstrap-toggle.min.css"/>
    <link rel="stylesheet" href="~/Content/Libs/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/Libs/buttons.bootstrap.min.css"/>

    <script src="~/Scripts/Libs/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Libs/bootstrap.min.js"></script>
    <script src="~/Scripts/Libs/knockout-3.4.0.js"></script>
    <script src="~/Scripts/Libs/moment-with-locales.min.js"></script>
    <script src="~/Scripts/Libs/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/Libs/bootstrap-toggle.min.js"></script>
    <script src="~/Scripts/Libs/expanding.js"></script>
    <script src="~/Scripts/Libs/knockstrap.js"></script>
    <script src="~/Scripts/Libs/extensions/knockoutExtension.js"></script>
    <script src="~/Scripts/Libs/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Libs/dataTables.bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-1 visible-xs">&nbsp;</div>
                <div class="navbar-brand col-xs-5 col-sm-6 logo"><a href="/home" class="navbar-link"><img src="~/Content/Images/logo.png" alt="SurveyOn" style="height: 100%"/></a>
                </div>
                <div class="relative col-xs-1">
                    <!-- ko if: $data.hasOwnProperty('surveys') && surveys().length == 0 -->
                    <div class="add-survey-helper">
                        <i class="fa fa-3x fa-share" aria-hidden="true"></i>
                        <div class="tooltip fade bottom in" role="tooltip" style="right: -23px; top: 40px;">
                            <div class="tooltip-arrow"></div>
                            <div class="tooltip-inner">Click to add survey!</div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div class="navbar-brand">
                        <a href="#" id="addSurvey" data-toggle="tooltip" data-placement="bottom" title="Add survey" class="navbar-link"><i class="fa fa-plus-square-o fa-lg"></i></a>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-5">
                    <div class="navbar-right">
                        <div class="navbar-nav">
                            <a href="#" class="navbar-link"><img class="gravatar img-rounded" data-toggle="tooltip" data-placement="left" /></a>
                            <a id="logout" class="navbar-link navbar-brand" href="#"><i class="fa fa-power-off fa-lg" data-toggle="tooltip" data-placement="bottom" title="Log out"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 visible-xs">&nbsp;</div>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/enums.js"></script>
    <script src="~/Scripts/updateHelper.js"></script>
    <script src="~/Scripts/ajaxHelper.js"></script>
    <script src="~/Scripts/utilityApplier.js"></script>
    @RenderSection("Scripts", false)
    <script>
        $('.gravatar').attr('title', sessionStorage.getItem('email'));
        $(document)
            .ready(function () {
                if (typeof (Storage) !== "undefined") {
                    var uri = "/api/users?email=" + sessionStorage.getItem('email');
                    if (!sessionStorage.getItem('gravatarUrl') || !sessionStorage.getItem('userId')) {
                        surveyOn.ajaxHelper.request(
                            uri,
                            'GET',
                            null,
                            function (response) {
                                var url = "https://www.gravatar.com/avatar/";
                                sessionStorage.setItem('gravatarUrl', url + response.EmailHash + "?s=45");
                                $('.gravatar').attr('src', sessionStorage.getItem('gravatarUrl'));
                                sessionStorage.setItem('userId', response.Id);
                            });
                    } else {
                        $('.gravatar').attr('src', sessionStorage.getItem('gravatarUrl'));

                    }
                } else {
                    $('.gravatar').attr('src', "https://www.gravatar.com/avatar/?s=45");
                    $('.gravatar').attr('title', "Error");
                }

                $('#addSurvey')
                    .click(function(event) {
                        event.preventDefault();
                        surveyOn.ajaxHelper.request(
                            '/api/surveys',
                            'POST',
                            null,
                            function(response) {
                                window.location.replace('/edit/' + response.Id);
                            });
                    });

            $('#logout')
                .click(function(event) {
                    event.preventDefault();
                    surveyOn.utilityApplier.apply.clearCookies();
                    sessionStorage.clear();
                    window.location.replace("/login");
                });

            surveyOn.utilityApplier.apply.tooltips();
        });
</script>
</body>
</html>
