﻿<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicons/favicon.ico" />
    
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/Libs/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/Content/login.css"/>

    <script src="~/Scripts/Libs/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Libs/knockout-3.4.0.js"></script>
    <script src="~/Scripts/Libs/bootstrap.min.js"></script>
    <script src="~/Scripts/Libs/knockout-3.4.0.js"></script>
</head>
<body>
<div class="flex-container">
    <div class="well">
        <div class="text-center"><img src="~/Content/Images/logo.png" alt="SurveyOn" style="height: 80px;" /></div>
        @RenderBody()
    </div>
</div>
    <script src="~/Scripts/ajaxHelper.js"></script>
    <script src="~/Scripts/utilityApplier.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
