﻿body {
    padding-top: 50px;
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #aaa; /* old IE */
    background-color: #aaa; /* Modern Browsers */
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    margin-top: 5px;
}

input, textarea {
    background: transparent;
    border: none;
    resize: none;
}

.logo {
    padding: 2px;
}

    .logo a {
        text-decoration: none;
    }

.tile {
    width: 250px;
    margin: 10px;
    float: left;
    padding: 5px 10px;
}

.tile-description {
    text-align: justify;
}

.tile-details-container {
    height: 50px;
}

.tile-details {
    float: left;
    width: 33%;
    margin: 0 auto;
    padding-top: 15px;
}

.tile-details-separator {
    float: left;
    width: 1px;
    height: 100%;
    background-color: #aaa;
}

.survey-title {
    font-size: xx-large;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

.survey-description {
    width: 100%;
    text-align: justify;
    margin-bottom: 10px;
}

.add-question {
    margin-right: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.add-section-helper {
    position: fixed;
    right: 60px;
    top: 52%;
    z-index: 3;
}

.add-section {
    position: fixed;
    right: 0;
    top: 50%;
    padding: 15px;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    z-index: 3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}


.grid-item {
    width: 280px;
}

.clickableTile:hover {
    cursor: pointer;
}

div.center {
    text-align: center;
    position: relative;
}

.shortAnswer {
    background: whitesmoke;
    margin: 10px 15px 10px 0;
    height: 39px;
}

.long-Answer {
    background: whitesmoke;
    margin: 10px 0 10px 0;
}

.gravatar {
    margin-top: 2px;
}

.section-order-button {
    margin-right: 0;
    padding-right: 0;
}



.question-title {
    display: inline;
    padding-left: 0;
}

.submit-button {
    width: 100%;
}

.tooltip-inner {
    white-space: nowrap;
    max-width: none;
}

.exclamation-container {
    float: left;
    margin-right: 4px;
}

.tile-title {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.wrap {
    word-wrap: break-word;
}

#answers-container {
    margin-top: 20px;
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
    width: 20%;
}

    td.answer {
        width: 60%;
    }

.section-well {
    padding-bottom: 0;
}

.add-survey-helper {
    position: absolute;
    left: -35%;
    top: 10px;
}

.add-question-helper {
    position: absolute;
    right: 60px;
    top: -45px;
    z-index: 3;
}

.relative {
    position: relative;
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }

.navbar-right {
    float: right !important;
}

#logout {
    margin-left: 15px;
    float: right;
}

#login {
    margin-left: 15px;
    float: right;
}

#answers_length {
    margin-right: 30px;
    float: left;
}

#answers_filter {
    display: inline;
    float: right;
}