﻿html, body {
    height: 100%;
}

body {
    margin: 0;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    margin-top: 5px;
}

.input-icon {
    margin-top: 3px;    
}

.errPopup {
    color: red;
    text-align: center;
    margin-bottom: 5px;
    margin-top: -10px;
}