﻿.popover-element {
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.popover-element-left {
    margin-left: -20px;
}

.popover-button {
    margin-left: -10px;
    margin-right: -10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
}