﻿.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20px;
}

    .toggle.ios .toggle-handle {
        border-radius: 20px;
    }

.question-bar-icons {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.question-bar-element {
    margin-left: 20px;
    margin-right: 0px;
}

.question-toolbar-separator {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #aaa;
}

.question-bar-toggle {
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: -25px;
    padding-top: 3px;
}

.question-bar-bin-icon {
    margin-right: 20px;
}

.question-bar-small-icons {
    margin-top: 5px;
}

.image-scaled {
    width: 160px;
    height: 100px;
}

.question-container {
    display: table;
    width: 100%;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

.move-up-arrow-container {
    position: absolute;
    right: 0;
    top: 0;
}

.hidden-icon {
    visibility: hidden;
}

.move-down-arrow-container {
    position: absolute;
    float: right;
    right: 0;
    bottom: 0;
}

.question-specification-container {
    display: table-row;
    width: 100%;
}

.question-required-icon-container {
    width: 30px;
    height: 30px;
}

.question-answer-container {
    display: table-row;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}

.question-toolbar-container {
    display: table-row;
    padding-right: 0px;
}


.question-title-container {
}

.question-description {
    padding-left: 0px;
}

.question-description-container {
    display: inline-block;
    margin-bottom: -50px;
}

.question-dropdown-select {
}

.question-up-arrow-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.question-down-arrow-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.question-bar-button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
}

.question-short-answer {
    margin-left: 0px;
    margin-bottom: 24px;
}

.question-long-answer {
    margin-left: 0px;
    margin-bottom: 10px;
}

.expanding-wrapper {
    margin: 10px 0 0 0;
}

.switch-tooltip {
    margin-top: 0px;
    position: absolute;
    left: 10px;
}

.onoffswitch {
    position: relative;
    width: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 21px;
        padding: 0;
        line-height: 21px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "";
        padding-left: 10px;
        text-align: left;
        background-color: #3796C6;
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

.onoffswitch-switch {
    display: block;
    width: 19px;
    height: 19px;
    margin: 1px;
    background: #FFFFFF;
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 27px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#review:hover {
    color: #000;
}

#review {
    color: #777;
}