﻿.section-container {
    position: relative;
    height: 100%;
}

.section-up-arrow-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.section-settings-icon {
    position: absolute;
    top: 20px;
    right: 30px;
}

.section-down-arrow-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.section-trash-icon {
     position: absolute;
    bottom: 0;
    right: 0;
}

.section-title-container {
    margin-left: 25px;
}

.section-description-container {
    margin-left: 10px;
}

.section-title {
    font-size: x-large;
    width: 95%;
}

.section-description {
    width: 100%;
}

.add-section a {
    color: #777;
}

    .add-section a:hover {
        color: #333;
    }
