﻿
@{
    ViewBag.Title = "AnswerConfirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="text-center">
    <h1>Thank You for completing the survey!</h1>
    <p>To create your own surveys <a href="/register">create an account.</a></p>
    <p>Or <a href="/login">log in.</a></p>
</div>

