﻿
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_LayoutCompleteSurvey.cshtml";
}

<form data-bind="submit: fillAnswersArray">
    <div class="text-center" data-bind="with: survey">
        <h1 class="wrap" data-bind="text: title"></h1>
        <p data-bind="text: description" class="text-justify wrap"></p>
        <div data-bind="foreach: sections">
            <div class="well text-justify section-well">
                <h3 data-bind="text: title" class="wrap"></h3>
                <p data-bind="text: description" class="text-justify wrap"></p>
                <div data-bind="foreach: questions">
                    <div class="well">
                        <div class="question-title-container">
                            <!-- ko if: required -->
                            <div class="exclamation-container"><i class="fa fa-exclamation-circle fa-lg" data-toggle="tooltip" title="Required!" data-placement="left"></i></div>
                            <!-- /ko -->
                            <h4 class="question-title wrap" data-bind="text: title"></h4>
                        </div>
                        <p data-bind="text: description" class="text-justify wrap"></p>
                        <!-- ko if: questionType() == 1 -->
                        <div class="answer-container">
                            <input class="form-control answer" placeholder="Short answer here" data-bind="value: answer, isrequired: required" maxlength="128" 
                                   oninvalid="{ this.setCustomValidity('This question is required'); jQuery(this).parents('div.answer-container').addClass('has-error');}" 
                                   oninput="{ this.setCustomValidity(''); jQuery(this).parents('div.has-error').removeClass('has-error');}" />
                        </div>
                        <!-- /ko -->
                        <!-- ko if: questionType() == 2 -->
                        <div class="answer-container">
                            <textarea class="form-control expanding answer" rows="1" placeholder="Long answer here" data-bind="value: answer, isrequired: required" maxlength="512" 
                                      oninvalid="{ this.setCustomValidity('This question is required'); jQuery(this).parents('div.answer-container').addClass('has-error'); }" 
                                      oninput="{ this.setCustomValidity(''); jQuery(this).parents('div.has-error').removeClass('has-error'); }"></textarea>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ko if: published -->
    <button type="submit" class="btn btn-lg btn-success pull-right submit-button"><i class="fa fa-check" aria-hidden="true"></i> Submit</button>
    <!-- /ko -->
</form>

@section Scripts{
    <script src="~/Scripts/questionViewModel.js"></script>
    <script src="~/Scripts/sectionViewModel.js"></script>
    <script src="~/Scripts/surveyViewModel.js"></script>
    <script src="~/Scripts/answer.js"></script>
    <script src="~/Scripts/utilityApplier.js"></script>
    <script src="~/Scripts/completeSurveyViewModel.js"></script>
}
