﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="text-center" data-bind="with: survey">
    <!-- ko if: sections().length == 0 -->
    <div class="add-section-helper">
        <i class="fa fa-3x fa-share" aria-hidden="true"></i>
        <div class="tooltip fade bottom in" role="tooltip" style="right: -23px; top: 40px;">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">Click to add section!</div>
        </div>
    </div>
    <!-- /ko -->
    <div class="add-section" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Add section">
        <a href="#" data-bind="click: addSection"><i class="fa fa-sticky-note-o fa-2x"></i></a>
    </div>

    <div class="modal" id="confirm-publish-survey-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Published survey adress</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input id="published-modal-complete-input" class="form-control" data-bind="value: $root.publishedSurveyUrl" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-toggle="tooltip" title="Copy to clipboard" data-bind="click: $root.copyCompliteUrlToClipboard">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button class="fa fa-times fa-2x pull-right question-bar-element question-bar-button" data-toggle="tooltip" title="Close" data-dismiss="modal"></button>*@
                    <button class="fa fa-external-link fa-2x pull-right question-bar-element question-bar-button" data-toggle="tooltip" title="Go to published survey" data-bind="click: $root.goToPublishedSurvey"></button>
                </div>
            </div>isPublished
        </div>
    </div>

    <div class="row">

        <div class="col-xs-10">
            <input class="survey-title" placeholder="Title" data-bind="value: title" maxlength="128" />
        </div>
        <div class="col-xs-2">
            <div data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="Go to answers">
                <a id="review" data-bind="attr: {'href': '/review/' + id()}">
                    <i class="fa fa-table fa-3x question-bar-button question-bar-icons"></i>
                </a>
            </div>
            <div class="section-settings-icon" data-toggle="tooltip" title="Survey settings">
                <button class="fa fa-cog fa-lg fa-2x question-bar-button" data-bind="popover: {
                    options: {trigger: 'focus', title: '', placement: 'bottom'},
                    template: $root.surveySettingsPopoverContent,
                    data: { text: 'First template' }
                    }, click : surveyOn.utilityApplier.apply.tooltips()"></button>
            </div>
            <script type="text/html" id="survey-settings-popover-content">
                <div align="center">
                    <div data-toggle="tooltip" title="Publish?" class="onoffswitch switch-tooltip popover-element-left">
                        <input type="checkbox" class="onoffswitch-checkbox" data-bind="checked: $parent.isPublished, attr: { id:  $parent.id}">
                        <label class="onoffswitch-label" data-bind="attr: {for:  $parent.id}">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    @*<input type="checkbox" data-bind="checked: $parent.isPublished" data-toggle="tooltip" data-placement="right" title="Publish" />*@
                    <!-- ko if: $root.survey().isPublished() == true -->
                    <button class="fa fa-external-link fa-2x popover-element popover-button " data-toggle="tooltip" title="Go to published survey" data-bind="click: $root.goToPublishedSurvey"></button>
                    <!-- /ko -->
                </div>
            </script>
        </div>
    </div>
    <div>
        <textarea class="survey-description expanding" placeholder="Description" data-bind="value: description" maxlength="512"></textarea>
    </div>

    <div class="modal" id="confirm-delete-section-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete section confirmation</h4>
                </div>
                <div class="modal-body">
                    <span>Are you sure you want to delete section with <span data-bind="text: $root.numberOfQuestionsInRemovingSection"></span> question/s?</span>
                </div>
                <div class="modal-footer">
                    @*                    <button class="fa fa-times fa-2x question-bar-element pull-right question-bar-button" data-toggle="tooltip" title="Close" data-dismiss="modal"></button>*@
                    <button class="fa fa-check fa-2x question-bar-element pull-right question-bar-button" data-toggle="tooltip" title="Confirm" data-bind="click: $root.removeSection"></button>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="foreach: sections">
        <div class="well section-container">
            <div class="section-settings-icon " data-toggle="tooltip" title="Section settings">
                <button class="fa fa-cog fa-lg fa-2x question-bar-button" data-bind="popover: {
                    options: {trigger: 'focus', title: '', placement: 'bottom'},
                    template: $root.sectionSettingsPopoverContent,
                    data: { text: 'First template' }
                    }, click : surveyOn.utilityApplier.apply.tooltips()"></button>
            </div>
            <script type="text/html" id="section-settings-popover-content">
                <button class="fa fa-trash fa-2x popover-button" data-toggle="tooltip" data-placement="right" title="Remove section" data-bind="click: $root.removeSectionConfirmation.bind($data, $parent)"></button>
            </script>

            <div class="section-title-container">
                <input class="section-title" placeholder="Section title" data-bind="value: title" maxlength="128" />
            </div>
            <div class="section-description-container">
                <textarea class="section-description expanding" placeholder="Section description" data-bind="value: description" maxlength="512"></textarea>
            </div>
            <div data-bind="foreach: questions">
                <div class="well question-container">
                    <div class="move-up-arrow-container" hidden>
                        <i class="fa fa-arrow-up question-up-arrow-icon" data-toggle="tooltip" title="Move up" data-placement="right"></i>
                    </div>
                    <div class="question-specification-container col-xs-12">
                        <div class="question-required-icon-container col-xs-1">
                            <i class="fa fa-exclamation-circle fa-2x fa-pull-left" data-bind="visible: required" data-toggle="tooltip" title="Required!" data-placement="left"></i>
                        </div>
                        <div class="question-title-container col-xs-9">
                            <input class="question-title pull-left col-xs-12" placeholder="Question title" data-bind="value: title" maxlength="128" />
                        </div>
                        <div class="dropdown-menu-right question-dropdown-select pull-right col-xs-2" data-toggle="tooltip" data-placement="bottom" title="Question type selector">
                            <select class="form-control" data-bind="options: questionTypes, optionsText: 'name', optionsValue: 'id', value: questionType, event: {change: updateQuestionType}"></select>
                        </div>
                        <div class="question-description-container col-xs-12 pull-left">
                            <textarea class="question-description col-xs-10 expanding" placeholder="Question description" data-bind="value: description" maxlength="512"></textarea>
                        </div>
                    </div>
                    <div class="question-answer-container pull-left col-xs-12">
                        <!-- ko if: questionType() == 1 -->
                        <div class="question-short-answer  pull-left col-xs-12">
                            <input class="form-control shortAnswer" placeholder="Short answer here" disabled />
                        </div>
                        <!-- /ko -->
                        <!-- ko if: questionType() == 2 -->
                        <div class="question-long-container pull-left col-xs-12">
                            <textarea class="form-control expanding long-Answer" rows="1" placeholder="Long answer here" disabled></textarea>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="question-toolbar-container">
                        <div class="col-xs-12">
                            <div class="question-toolbar-separator"></div>
                        </div>
                        <div class="question-bar-icons col-xs-12">
                            <div data-toggle="tooltip" title="Is required?" class="onoffswitch question-bar-icons pull-left switch-tooltip">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" data-bind="checked: required, attr: { id: id}">
                                <label class="onoffswitch-label" data-bind="attr: {for: id}">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                            <button class="fa fa-picture-o fa-2x question-bar-element pull-left question-bar-button hidden-icon" data-toggle="tooltip" title="Add picture"></button>
                            <button class="fa fa-eyedropper fa-2x question-bar-element pull-left question-bar-button hidden-icon" data-toggle="tooltip" title="Change color"></button>
                            <button class="fa fa-file-o fa-2x question-bar-element pull-left question-bar-button hidden-icon" data-toggle="tooltip" title="Duplicate"></button>
                            <button class="fa fa-trash pull-right fa-2x question-bar-element question-bar-button" data-toggle="tooltip" title="Remove question" data-bind="click: $parent.removeQuestion"></button>
                        </div>
                    </div>
                    <div class="move-down-arrow-container" hidden>
                        <i class="fa fa-arrow-down right-navbar-down-icon question-down-arrow-icon" data-toggle="tooltip" data-placement="right" title="Move down"></i>
                    </div>
                </div>
            </div>
            <div hidden>
                <i class="fa fa-arrow-circle-o-down fa-2x section-down-arrow-icon"></i>
            </div>
            <div class="relative">
                <button class="fa fa-trash pull-right fa-2x question-bar-button hidden-icon" data-toggle="tooltip" title="Remove section" data-bind="click: $root.removeSectionConfirmation.bind($data, $parent)"></button>
                <!-- ko if: questions().length == 0 -->
                <div class="add-question-helper">
                    <i class="fa fa-3x fa-share" aria-hidden="true"></i>
                    <div class="tooltip fade bottom in" role="tooltip" style="right: -23px; top: 40px;">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">Click to add question!</div>
                    </div>
                </div>
                <!-- /ko -->
                <button class="btn btn-default pull-right add-question question-bar-button" data-bind="click: addQuestion" data-toggle="tooltip" title="Add question"><i class="fa fa-plus fa-2x"></i></button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/questionViewModel.js"></script>
    <script src="~/Scripts/sectionViewModel.js"></script>
    <script src="~/Scripts/surveyViewModel.js"></script>
    <script src="~/Scripts/editViewModel.js"></script>
    <script src="~/Scripts/Libs/expanding.js"></script>
}
