﻿@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_LayoutHome.cshtml";
}
    <div class="grid" data-bind="foreach: surveys">
        <div class="grid-item">
            <div class="well tile">
                @*<i class="fa fa-cog fa-lg pull-right"></i>*@
                <div data-bind="click: goToSurvey" class="clickableTile">
                    <div>
                        <h3 class="tile-title wrap" data-bind="text: Title"></h3>
                        <p class="tile-description wrap" data-bind="text: Description"></p>

                    </div>
                    <div style="text-align: right" data-bind="PublishedDate"></div>
                    <hr/>
                    <div class="tile-details-container">
                        <div class="tile-details text-center" data-bind="text: NumberOfSections" data-toggle="tooltip" data-placement="bottom" title="Number of Sections"></div>
                        <div class="tile-details-separator">&nbsp;</div>
                        <div class="tile-details text-center" data-bind="text: NumberOfQuestions" data-toggle="tooltip" data-placement="bottom" title="Number of Questions"></div>
                        <div class="tile-details-separator">&nbsp;</div>
                        <div class="tile-details text-center" data-bind="text: NumberOfResponses" data-toggle="tooltip" data-placement="bottom" title="Number of Responses"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    <script src="~/Scripts/homeViewModel.js"></script>
    <script src="~/Scripts/Libs/masonry.pkgd.min.js"></script>
}
