﻿@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_LayoutHome.cshtml";
}

<div class="well tile">
    <div class="grid" data-bind="foreach: surveys">
        <div class="grid-item">
            <div>
                <i class="fa fa-cog fa-lg pull-right"></i>
                <h3 class="text-center" data-bind="text: title"></h3>
                <p class="tile-description" data-bind="text: desctiption"></p>
            </div>
            <hr />
            <div class="tile-details-container">
                <div class="tile-details text-center" data-bind="text: NumberOfQuestions"></div>
                <div class="tile-details-separator">&nbsp;</div>
                <div class="tile-details text-center" data-bind="text: NumberOfQuestions"></div>
                <div class="tile-details-separator">&nbsp;</div>
                <div class="tile-details text-center" data-bind="text: NumberOfQuestions"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/homeViewModel.js"></script>
}