﻿
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div>
    <h1 align="center"> Welcome to SurveyOn!</h1>
    <div align="center">
        
        <form class="center-group form-horizontal" data-bind="submit: login">
            <div class="form-group row">
                <div class="col-xs-offset-1 col-xs-1">
                    <i class="fa fa-at fa-2x input-icon"></i>
                </div>
                <div class="col-xs-8 ">
                    <input class="form-control" type="email" data-bind="value: emailAddress" placeholder="Email Adress" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-offset-1 col-xs-1">
                    <i class="fa fa-hashtag fa-2x"></i>
                </div>
                <div class="col-xs-8 ">
                    <input class="form-control" type="password" data-bind="value: password" placeholder="Password" />
                </div>
            </div>
            <div class="errPopup" hidden> Wrong Email or password! </div>
            <div align="center" class="submit">
                <button type="submit" class="btn btn-info">
                    <i class="fa fa-home fa-lg"></i> Log In
                </button>
            </div>
        </form>
    </div>
    <p>
        <div style="width: 50%; margin: auto">
            <div style="width: 100%; height: 1px; background-color: #222; margin: 15px 0 15px 0"></div>   
        </div>
        <div class="w3-container w3-border-top w3-color-black" align="center">
            Or <a href="@Url.Action("Register", "Survey")" class="btn btn-info" role="button">
                <i class="fa fa-user-plus fa-lg"></i> Register
            </a> to create a new account!
        </div>
    </p>
</div>
@section Scripts{
    <script src="~/Scripts/loginViewModel.js"></script>
}