﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div>
    <h1 align="center"> Register to SurveyOn!</h1>

    <form id="registerForm" name="registerForm" data-bind="submit: registerUser">
        <div class="row form-group">
            <div class="col-xs-offset-1 col-xs-1">
                <i class="fa fa-at fa-2x input-icon"></i>
            </div>
            <div class="col-xs-8 ">
                <input class="form-control" type="email" data-bind="value: email" placeholder="Email Adress" required>
            </div>
        </div>
        <div class="errPopup" align="center" hidden> Email already in use! </div>
        <div class="row form-group">
            <div class="col-xs-offset-1 col-xs-1 input-icon">
                <i class="fa fa-hashtag fa-2x"></i>
            </div>
            <div class="col-xs-8 ">
                <input id="password" class="form-control" type="password" data-bind="value: password, valueUpdate: 'afterkeydown'" maxlength="24" placeholder="Password" required onkeyup="registerModel.checkPassword(this)">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-offset-1 col-xs-1 ">
                <i class="fa fa-repeat fa-2x input-icon"></i>
            </div>
            <div class="col-xs-8 ">
                <input id="confirmPassword" class="form-control" type="password" data-bind="value: confirmPassword, valueUpdate: 'afterkeydown'" maxlength="24" placeholder="Verify Password" required onkeyup="registerModel.checkConfirmPassword(this)">
            </div>
        </div>

        <div class="row form-group">
            <div class="checkbox col-xs-offset-2 " >    
                <input type="checkbox" data-bind="checked: agreeToTerms " required onchange="registerModel.checkAgreeToTerms(this)" oninvalid="this.setCustomValidity('You have to agree to Terms of Service and Privacy Policy.')"/>
                <span>I agree to Terms of Service and Privacy Policy</span>
            </div>
        </div>

        <div align="center" class="submit">
            <button type="submit" class="btn btn-info">
                <i class="fa fa-user-plus"></i> Register
            </button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/Scripts/registerViewModel.js"></script>
}

