﻿
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1 class="wrap text-center">Answers for "<span data-bind="text: surveyTitle"></span>"</h1>
<div id="answers-container">
    <table id="answers" class="table table-striped">
        <thead>
        <tr>
            <th>Section</th>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: answers">
        <tr>
            <td data-bind="text: section" data-toggle="tooltip" data-container="body"></td>
            <td data-bind="text: question" data-toggle="tooltip" data-container="body"></td>
            <td data-bind="text: answer" class="answer" data-toggle="tooltip" data-container="body"></td>
        </tr>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/Scripts/Libs/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/Libs/buttons.bootstrap.min.js"></script>
    <script src="~/Scripts/Libs/buttons.flash.min.js"></script>
    <script src="~/Scripts/Libs/jszip.min.js"></script>
    <script src="~/Scripts/Libs/pdfmake.min.js"></script>
    <script src="~/Scripts/Libs/vfs_fonts.js"></script>
    <script src="~/Scripts/Libs/buttons.html5.min.js"></script>
    <script src="~/Scripts/Libs/buttons.print.min.js"></script>
    <script src="~/Scripts/reviewAnswerViewModel.js"></script>
    <script src="~/Scripts/reviewViewModel.js"></script>
    <script>
        $(document)
            .ready(function () {
                surveyOn.utilityApplier.apply.updateDataTable();
            });
    </script>
}
