﻿
@{
    ViewBag.Title = "tempQuestionTypes";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>tempQuestionTypes</h2>

<!-- Date -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker">
                    <input type="text" class="form-control" />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker({
                    locale: 'pl',
                    format: 'LL'
                });
            });
        </script>
    </div>
</div>


<!-- Open answer (Short) -->
<div class="container">
    <input class="form-control shortAnswer" placeholder="Short answer here" />
</div>


<!-- Long -->
@section Scripts{

    <script src="~/Scripts/expandableText.js"></script>
}
<div class="container">
    <textarea class="expandableText form-control" rows="1" placeholder="Long answer here"></textarea>

</div>


<!-- Scale -->
<ul class="pagination scaleSlider" id="lol">
    <li><a class="scaleSliderItem btn-default">1</a></li>
    <li><a class="scaleSliderItem btn-default">2</a></li>
    <li><a class="scaleSliderItem btn-default">3</a></li>
    <li><a class="scaleSliderItem btn-default">4</a></li>
    <li><a class="scaleSliderItem btn-default">5</a></li>
    <li><a class="scaleSliderItem btn-default">6</a></li>
    <li><a class="scaleSliderItem btn-default">7</a></li>
    <li><a class="scaleSliderItem btn-default">8</a></li>
    <li><a class="scaleSliderItem btn-default">9</a></li>
    <li><a class="scaleSliderItem btn-default">10</a></li>
</ul>

<script>
    $('.scaleSliderItem.btn-default').on('click', function () {
        $('.scaleSliderItem.btn-default.active').removeClass('active');
        $(this).addClass('active');
    });
</script>

<!-- Money -->
<div class="input-group col-md-2">
    <input type="number" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="c2" />
    <span class="input-group-addon">$</span>
</div>

<!-- One close answer -->
<div>
    <input type="checkbox" class="answer-toggle" data-on="Yes" data-off="No" checked data-toggle="toggle" data-style="ios" data-size="small" />
    <label>Is question ok?</label>
</div>

<!--Multiple close answers-->
<div id="multiple-answers">
    <div class="radio">
        <label><input type="radio" name="optradio">Option 1</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio">Option 2</label>
    </div>
</div>
<input type="button" id="btnAdd" value="+">



<script>
    var counter = 3;
    $(document).on('click', '#btnAdd', function () {
        $("#multiple-answers")
                .append('<div class="radio"><label><input type="radio" name="optradio">Option ' + counter + '</label></div>');
        counter++;
    });
</script>