﻿@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="text-center">
    <h1>Unauthorized</h1>
    <p>We are sorry, but you do not have permission to access this page!</p>
    <p><a href="/login">Proceed to login page.</a></p>
</div>